# Python Arithmetic Operators Practice Notebook

# Q1  Addition

Write an expression that adds `8` and `12` and prints the result.

In [2]:
# Answer here
print(8+12)

20

# Q2  Subtraction

Write an expression that subtracts `7` from `20` and prints the result.

In [3]:
# Answer here
print(20-7)

13

# Q3  Multiplication

Write an expression that multiplies `6` by `9` and prints the result.

In [4]:
# Answer here
print(6*9)

54

# Q4  Division

Write an expression that divides `45` by `9` and prints the result (normal division).

In [5]:
# Answer here
print(45/9)

5.0

# Q5  Floor Division

Write an expression that floor-divides `45` by `9` and prints the result.

Then floor-divide `50` by `6` and print the result to see how floor division works.

In [6]:
# Answer here
print(45//9)
print(50//6)

5
8

# Q6  Modulus

Write an expression that computes the remainder when `29` is divided by `5` and prints it.

In [7]:
# Answer here
print(29%5)

4

# Q7  Power

Compute `3` raised to the power `4` and print the result using the `**` operator.

In [8]:
# Answer here
print(3**4)

81

# Q8  Unary plus and minus

Assign a positive number to a variable `x` and print `+x` and `-x`. Observe the outputs.

In [15]:
# Answer here
x=67
print (+x,-x)

67 -67

# Q9  Combined expression and operator precedence

Without using parentheses, write an expression that computes `5 + 3 * 2` and prints the result. Then add parentheses to change the order so that addition happens first: `(5 + 3) * 2`.

In [18]:
# Answer here
print(5 + 3 * 2)

print((5 + 3) * 2)

11
16

# Q10  Using variables

Assign two variables `a = 15` and `b = 4`. Compute and print **all** arithmetic operations between them: `+`, `-`, `*`, `/`, `//`, `%`, `**`.

In [19]:
# Answer here
a = 15
b = 4

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

19
11
60
3.75
3
3
50625

# Q11 - Compound assignment

Start with `n = 10`. Use compound assignment operators to:
- add 5 (`n += 5`), print
- multiply by 2 (`n *= 2`), print
- subtract 4 (`n -= 4`), print
(Place each statement so students can see the updated `n` after each operation.)

In [26]:
# Answer here
n=10
n += 5
print(f"after +5 in n is {n}")
n=10
n *=2
print((f"after *2 in n is {n}"))
n=10
n-=4
print((f"after -4 in n is {n}"))
##print(n -= 4)

after +5 in n is 15
after *2 in n is 20
after -4 in n is 6

# Q12  Swapping values (without a third variable)

Given `x = 3` and `y = 7`, swap their values using Python tuple assignment and print `x` and `y` after swapping.

In [ ]:
# Answer here
x=3
y=7
x,y=y,x
print(x,y)

7 3

# Q13 - Input: Sum of two numbers

Ask the user to input two numbers (integers). Add them and print `Sum: <result>`.

In [ ]:
# Answer here
num1 = int (input ("Enter a number: "))
num2= int (input("Enter another number: "))
sum=num1 + num2
print(f"sum of these numbers is :{sum}")

ValueError: invalid literal for int() with base 10: ''

# Q14 - Input: Average of three numbers

Ask the user to input three numbers (floats allowed). Compute their average and print `Average: <result>`.

In [1]:
# Answer here

value1=int(input("Enter a value: "))
value2=int(input("enter next value"))
value3=int(input("enter last value"))
average=(value1+value2+value3)//3
print(f"average of the three values are{average}")

ValueError: invalid literal for int() with base 10: ''

# Q15 - Input: Circle calculations

Ask the user to input the radius of a circle (float). Compute and print:
- Circumference = `2 * 3.14159 * radius`
- Area = `3.14159 * radius ** 2`

In [ ]:
# Answer here
radius=float(input("what is the radius of circle: "))
area=3.14159*radius**2
print(f"The area of the circle is {area}")

# Q16 - Input: Convert total seconds to hours, minutes, seconds

Ask the user to input a total number of seconds (integer). Convert it to hours, minutes, and seconds and print as `H:M:S`.

In [ ]:
# Answer here
seconds=int(input("Enter the number of seconds: "))
minute=seconds/60
hour=minute/60
print(f"H= {hour} :M={minute} :S={seconds}")

3.3333333333333335

# Q17 - Input: Simple interest calculation

Ask user for `principal`, `rate` (annual percent), and `time` (years). Compute simple interest as `(principal * rate * time) / 100` and print `Interest: <result>`.

In [ ]:
# Answer here
principal = int(input("Enter pricipal amt:"))

rate= int(input("Enter the rate :"))
time= int(input("enter time in years :"))

interest=(principal * rate * time)/100
print(f"your interest will be :{interest}")

Enter pricipal amt:100000
ENter rate6
enter time in years:3
1800000